{% extends 'main/base.html' %}

{% block title %}
О нас
{% endblock %}

{% block content %}
<style>#footer{text-align: center; position: fixed; left: 20%; right: 20%;}</style>
    <div id="footer">
        <h1>BitardProject: команда сформированая для сдачи семестрового проекта</h1>
        <p>Наша цель-помочь потребителям создать свой маленький мир с блэкджеком и интерфейсами. <br> Сайт преднозначен для создания интерактивных визиток с возможностью вести свой микроблог и обновлять парфолио.</p>
    </div>


<style>#footer1{text-align: center; position: fixed; left: 20%; right: 20%; bottom:0 }</style>
<div id="footer1">
    Обязательно зайди в <a href="faq">раздел F.A.Q.
    </a>, там уже есть ответы все важные (и не очень) вопросы.
        <br> А в менюшках выше есть куча другого разного стаффа.</p>

  </div>
{% endblock %}