{% extends 'main/base.html' %}

{% block title %}
Поддержка
{% endblock %}

{% block content %}
    <div id="panel-41-0-0-1" class="so-panel widget widget_sow-cta" data-index="1">
        <div class="panel-widget-style panel-widget-style-for-41-0-0-1">
            <div class="so-widget-sow-cta so-widget-sow-cta-default-bd9a11537245">
                <div class="sow-cta-base">
                    <div class="sow-cta-wrapper">
                        <div class="sow-cta-text">
                            <h4 class="sow-cta-title">Поддержать разработчиков</h4>
                        </div>
                        <div class="so-widget-sow-button so-widget-sow-button-wire-82182c9395a1" style="margin-top: 1.5px;">
                            <div class="ow-button-base ow-button-align-center">
                                <a href=""
                                   class="ow-icon-placement-left ow-button-hover" target="_blank"
                                   rel="noopener noreferrer">
                                    <span>
                                        <span class="sow-icon-fontawesome sow-fas" data-sow-icon=""></span> кнопка
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<style type="text/css" id="wp-custom-css">.sow-cta-title
{
	text-transform: uppercase;
	font-family: 'Rawline Black', sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 20px;
}

.aiovg .aiovg-duration
{
		background: linear-gradient(90deg, rgb(152,49,105) 0%, rgb(89,58,126) 50%, rgb(0,112,196) 100%);
		border-radius: 100px 0px 0px 0px;
}

.aiovg-duration small
{
	padding: 0px 2px 0px 5px;
	background: linear-gradient(90deg, rgb(152,49,105) 0%, rgb(89,58,126) 50%, rgb(0,112,196) 100%);
		border-radius: 100px 0px 0px 0px;
}

::-moz-selection {
background-color: #9932CC;
color: #fff;
}

::selection {
background-color: #9932CC;
color: #fff;
}</style>

{% endblock %}

