{% extends 'main/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<br>
<style>#footer{text-align: center; position: fixed; left: 15%; right: 15%}</style>
    <div id="footer">
        <br> Хороший текст на <a href="">главной странице</a> – это очень хорошо.
        На самом деле рецепт простой - много текста, мало смысла.
        Сперва мы хуярим шаблон,с добавление интерактивного меню сверху.
        Дизайн приятный глазу для красоты и партиклей совсем немного.
        Щедро выкладываем великолепный сайт <a href="https://github.com/BitardProject">на Git</a>, много текста, мала смысла.
        Вот он настоящий сайт визитка, а внутри много сочной начинки, красивый сайт с картинками, таблицей и анимацией.
        Многие и забыли, как это может быть красиво. Пользуйтесь и наслаждайтесь - сайт визитка. Много текста, мало смысла.
    </div>


<style>#footer1{text-align: center; position: fixed; left: 20%; right: 20%; bottom:0 }</style>
<div id="footer1">
    Обязательно зайди в <a href="faq">раздел F.A.Q.
    </a>, там уже есть ответы все важные (и не очень) вопросы.
        <br> А в менюшках выше есть куча другого разного стаффа.</p>
  </div>
{% endblock %}